/* ===============
      BASE.SCSS
   =============== */


//    Colors
$white: #fff;
$yellow: #fae596;
$lightblue: #3fb0ac;
$darkblue: #173e43;
$lightgrey: #dddfd4;
$darkgrey: #2b2b2b;
$black : #0e0e0e;
$lightblue: #6bb7f2;
$kaki: #126bb0;
$beige: grey;


//    Breakpoints
@mixin breakpoint($point) {
  @if $point == sm {
    @media screen and (max-width: 48em) {
      @content;
    }
  } @else if $point == md {
    @media screen and (max-width: 64em) {
      @content;
    }
  } @else if $point == lg {
    @media screen and (max-width: 80em) {
      @content;
    }
  }
}

//    Main HTML Elements
body {
  font-family: 'WorkSans';
  color: $darkgrey;
}

h1, h2, h3 {
  font-family: 'Roboto';
}

a {
  color: $black;
}

strong {
  font-weight: bold;
}