/* ===============
      HEADER
=============== */

#topnav {
  background-color: $kaki;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;

  &__list-icon {
    height: 30px;
    width: 35px;

    path {
      fill: white;
    }
  }

  &__title {
    font-size: 1.55rem;
    text-align: center;
    width: 60%;
    letter-spacing: .1rem;
  }

  &__left {
    width: 35px;
  }
}
