/* ===============
      SEARCH
=============== */


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: $lightblue;
  color: white;

  &__input{
    border: $lightgrey;
    border-radius: 4px 0 0 4px;
    margin-left: 10px;
    padding: 5px;
    min-width: 55%;
    height: 17px;
    @include breakpoint(md) {
      min-width: 250px;
    }
  }

  &__cross {
    border-radius: 0 4px 4px 0;
    background-color: $white;
    padding: 7px;
    height: 27px;

    &--grey {
    color: $grey;
    }

    &--white {
      color: $white;
      }
  }
}