/* ===================
    SITE LIST PAGE
====================== */

.site-list {
  &__no-result {
    margin: 15px;
    font-size: 1.5rem;
    line-height: 1.2em;
    color: $darkgrey;
  }

  &__results {
    padding: 10px 10px 0;
  }
}